In [48]:
class Customer:
    def __init__(self,name,products):
        self.name = name
        self.products = products
class bill(Customer):
    def __init__(self,name,products,amount):
        self.amount = amount
        super().__init__(name,products)
        self.tax = 1 + (5/100)
        self.calculate_discount()
    def calculate_discount(self):
        total = self.amount
        discount = 0
        if self.products >= 5:
            discount = total * (2/100)
        elif self.product >= 15:
            discount = total * (3/100)
        elif self.product >= 50:
            discount = total * (4/100)
        self.amount = (total + (self.products * self.tax)) - discount
    def __str__(self):
        return f'Name : {self.name} | No. of Products : {self.products} | total amount : {self.amount}'
    def __del__(self):
        print( f'Customer : {self.name} details are removed!')
c1 = bill('Sukanya',5,550)
print(c1)

Name : Sukanya | No. of Products : 5 | total amount : 544.25

In [49]:
c2 = bill('Sharukh',15,1100)
print(c2)

Name : Sharukh | No. of Products : 15 | total amount : 1093.75

In [50]:
c3 = bill('Sam',52,12000)
print(c3)

Name : Sam | No. of Products : 52 | total amount : 11814.6

In [52]:
del c1

Customer : Sukanya details are removed!

In [56]:
del c3

Customer : Sam details are removed!